<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>EGC</title>
  {% load staticfiles %}

  <link href="http://allfont.es/allfont.css?fonts=chintzy-cpu-brk" rel="stylesheet" type="text/css" />
  <!-- Latest compiled and minified CSS -->
  <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/estilosMedia.css" %}">

</head>

<body>
  <div id="header">{% include 'header.html' %}</div>
  <div style="clear:both"></div>

  <div id="primary" class="content-area">
    <main id="main" class="site-main">


      <article id="post-713" class="post-713 page type-page status-publish hentry">

        <div class="entry-content">

          <h1>Administración de votaciones</h1> {% block encabezado %}{% endblock %} {% block contenido %}{% endblock %}

          <footer class="text-center">

            <footer id="ht-colophon" class="ht-site-footer">

              <div id="ht-bottom-footer">
                <div class="ht-container">
                  <div class="ht-site-info">
                    <span class="sep"> | </span> © SPLC 2018 <span class="sep"> | </span> </div>
                  <!-- #site-info -->
                </div>
              </div>
            </footer>





            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





</body>

</html>
